@import "../../variables.scss";
.FreeTrial {
  width: 100%;
  padding: toRem(16) 0;
  @apply flex items-center justify-center font-extrabold;
  font-size: toRem(14);
  color: white;
  border-radius: 8px;
  background: $green;
  line-height: 1;
  border: 1px solid $green;
  display: flex;
  align-items: center;
  column-gap: 8px;
  transition: all 0.3s;
  &:hover {
    background: white;
    color: $green;
  }
  &.outlined {
    background: transparent;
    color: $green;
    &:hover {
      background: $green;
      color: white;
    }
  }
  @media (min-width: toRem(1024)) {
  }
  @media (min-width: toRem(1280)) {
  }
}
